/*
 *
 * General elements
 *
 */
body {
	font-family:Helvetica, arial, sans-serif;
	color:#333333;
	min-width:980px;
}


/*
 *
 * Layout
 *
 */
#page {
	margin-bottom:0px;
	position:relative;
	width:960px;
	margin:0 auto;
}

/*
 *
 * Header
 *
 */
#header {
	border-bottom:dotted 1px #000;
}
#header h1 {
	font-size:40px;
}
#header h1 a {
	text-decoration:none;
	color:#000;
}
#header ul.menu {
	margin-bottom:10px;
	font-size:12px;
}

/*
 *
 * Footer
 *
 */
#footer {
	border-top:dotted 1px #000;
}
#footer ul.menu {
	margin:10px 0 20px 0;
	font-size:12px;
}